##################################################################
# Ansible / Infrastructure
##################################################################

/infrastructure/ansible/inventories/*/hosts.yml
/infrastructure/ansible/inventories/*/group_vars/all.yml
/infrastructure/ansible/inventories/*/group_vars/vault.yml

.ansible
.molecule
.vault_pass

##################################################################
# Compose / Config
##################################################################

/config/**/init-users.conf

##################################################################
# Global rules
##################################################################
.env
microservices.local

.cache/
__pycache__/
*.pyc

##################################################################
# Docker / Docker Compose
##################################################################
docker-compose.override.yml
.docker/

##################################################################
# IDE / Editor
##################################################################
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

##################################################################
# Logs
##################################################################
logs/
*.log

##################################################################
# Temporary files
##################################################################
tmp/
temp/
*.tmp